.canvas{
	position: absolute;
	opacity: 0;
	&:hover, &.active {
		opacity: 1;
		visibility: visible;
		//border-top: 2px dotted #00BFFF;
		//border-left: 2px dotted #00BFFF;
		//box-shadow: 2px 2px 1px rgba(0,190,255,0.5);
	}
}

#celio_canvas {
	margin-left: 494px;
	margin-top: 426px;
}
#zara_canvas {
	margin-left: 109px;
	margin-top: 449px;
}
#resto_canvas {
	margin-left: 328px;
	margin-top: 69px;
}
#carrefour_canvas {
	margin-left: 494px;
	margin-top: 265px;
}